__pycache__/
*.gz
test/
validation/
*.log
/evaluation/analyze/comments/*
test.ipynb
/evaluation/data/apps/APPS/
/evaluation/analyze
/evaluation/data/bigcodebench/sanitized_calibrated_samples
humaneval-*

.env

# Ignore generated result/output files and folders

/data/**/results/
/data/**/test_cases/
/**/results/
/**/test_cases/
.ipynb_checkpoints/

/venv/
/.venv/
env/
venv/
.venv/

# Ignore ouput files except folder push to git
*/hcmus/output/*
*/conala/output/*

evaluation/output/*